.aboutPage {
  width: 80%;
  margin: 0 auto;
}

.aboutPage__headerText {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.75rem 0;
}

.aboutPage__details {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  gap: 3rem;
}

.details__img {
  width: 250px;
  height: 250px;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.details__text {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 400;
}

.details__line {
  margin: 1.5rem 0;
  border: 1px solid var(--color-primary);
}

@media (min-width: 1100px) {
  .aboutPage {
    width: 70%;
  }
  .details__img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 850px) {
  .aboutPage__details {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .aboutPage__details {
    margin-top: 1rem;
  }
  .details__img {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 500px) {
  .details__img {
    width: 130px;
    height: 130px;
  }
}
