@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.app {
  width: 100vw;
  min-height: 100vh;
  color: var(--color-text-primary);
  font-family: Poppins;
  background: linear-gradient(
    310deg,
    var(--color-blue-light) 10%,
    var(--color-blue-medium) 30%,
    var(--color-blue-dark) 90%
  );
  padding: 2rem 3rem;
}

.gradient-color {
  font-weight: 800;
  background: linear-gradient(
    135deg,
    rgb(255, 168, 168) 10%,
    rgb(252, 255, 0) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark {
  --color-primary: #24353e;
  --color-secondary: #1b262c;
  --color-accent: #023e8a;

  --color-text-primary: #fff;
  --color-text-secondary: #495057;

  --color-blue-dark: rgba(3, 19, 93, 1);
  --color-blue-medium: rgba(3, 33, 108, 1);
  --color-blue-light: rgba(2, 62, 138, 1);

  --color-white: #fff;
  --color-black: #000;
}
