.form {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
}

.form__input {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  outline: none;
  box-shadow: inset 0 0 5px var(--color-black);
}

.form__button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 1rem;
  border: none;
  border-radius: 0 50px 50px 0;
  box-shadow: inset 0 0 5px var(--color-black);
  color: var(--color-text-secondary);
  font-size: 1.1rem;
  transition: all 0.2s;
}

.form__button:hover {
  cursor: pointer;
  color: var(--color-text-primary);
  background-color: var(--color-accent);
}

.form__button:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px var(--color-black);
}

@media (min-width: 800px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .form__button {
    padding: 0 0.5rem;
  }
}
