.mainPage {
  width: 100%;
}

.mainPage__welcomeText {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.75rem 0;
}

.mainPage__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.mainPage__cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
}

@media (min-width: 1600px) {
  .mainPage__cards {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .mainPage__cards {
    width: 60%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .mainPage__cards {
    width: 90%;
  }
}
