.menuButton {
  padding: 14px 28px;
  border: 2px solid #1b262c;
  border-radius: 16px;
  color: #fff;
  background: #1b262c;
}

.menuButton:hover {
  cursor: pointer;
  background: #24353e;
  border-color: #24353e;
}
