.menuButton {
  padding: 0.9rem 1.8rem;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  color: var(--color-text);
  background: var(--color-primary);
}

.menuButton:hover {
  cursor: pointer;
  background: var(--color-secondary);
  border-color: var(--color-secondary);
}
