.menuButton {
  text-decoration: none;
  color: var(--color-text);
}

.menuButton__btn {
  padding: 0.6rem 1.2rem;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  color: var(--color-text);
  background: var(--color-primary);
}

.menuButton__btn:hover {
  cursor: pointer;
  background: var(--color-secondary);
  border-color: var(--color-secondary);
}

@media (min-width: 900px) {
  .menuButton__btn {
    padding: 0.9rem 1.8rem;
  }
}

@media (max-width: 700px) {
  .menuButton__btn {
    min-height: 75px;
  }
}
