.weatherCard {
  width: 100%;
  min-height: 400px;
  height: fit-content;
  margin: 20px 50px;
  padding: 1rem 0;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.weatherCard__icon {
  margin: 1.5rem auto;
  transform: scale(1.5);
  pointer-events: none;
}

.weatherCard__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.data__city {
  font-size: 2.2rem;
  font-weight: 700;
}

.data__temp {
  font-size: 2.2rem;
  font-weight: 300;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
}

.thin {
  font-weight: 300;
}
